/ctrlsoc.asc
/ctrlsoc.bin
/ctrlsoc.json
/ctrlsoc.log
/ctrlsoc.pcf
/ctrlsoc.rpt
/ctrlsoc_fw.bin
/ctrlsoc_fw.elf
/ctrlsoc_fw.hex
/mlaccel.asc
/mlaccel.bin
/mlaccel.json
/mlaccel.rpt
/testbench
/testbench.vcd
/flashinit.hex
