/ctrlsoc.asc
/ctrlsoc.bin
/ctrlsoc.json
/ctrlsoc.log
/ctrlsoc.rpt
/ctrlsoc_fw.bin
/ctrlsoc_fw.elf
/ctrlsoc_fw.hex
/mlaccel.asc
/mlaccel.bin
/mlaccel.json
/mlaccel.log
/mlaccel.rpt
/mlaccel.blif
/mlaccel_arachne.asc
/mlaccel_arachne.bin
/mlaccel_arachne.rpt
/testbench
/testbench.vcd
/flashinit.hex
/demodat.inc
