# 12 MHz clock
set_io clk        35

# RS232
set_io ser_rx      6
set_io ser_tx      9

# SPI Flash
set_io flash_clk  15
set_io flash_csb  16
set_io flash_io0  14
set_io flash_io1  17
set_io flash_io2  12
set_io flash_io3  13

# Status LEDs
set_io ledr_n     11
set_io ledg_n     37

# LEDs (PMOD 2)
set_io led1       27
set_io led2       25
set_io led3       21
set_io led4       23
set_io led5       26

# ML QPI (on PMOD2)
set_io ml_csb     20
set_io ml_clk     18

# Camera pins
set_io cam_enable   3 #P1A7
set_io cam_sda      34 #P1B3
set_io cam_scl      28 #P1B10

set_io dphy_clk     32 #P1B9
set_io dphy_data[0] 42 #P1B7
set_io dphy_data[1] 43 #P1B1
set_io dphy_lp      48 #P1A8
